version: "3.8"
services:
  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    volumes:
      - C:\Users\Admin\Documents\Projects\clickhouse_data:/var/lib/clickhouse
      # - C:/ClickHouse/data:/var/lib/clickhouse
